body {
    background-color: gray;
    font-family: 'Arsenal', sans-serif;
}
h1 {
    color: #493f3c
;
}

img{
    border-radius: 100%;
}

a {
    color:black;
    text-decoration:none;
    font-weight: 600;
}

a:hover {
    color:#31154c;
}

a:visited {
    color:pink;
}

img[src*="jimmy"] {
	border-radius: 10%;
}

img[src*="bcbits"] {
	border-radius: 10%;
} 